<div class="hidden lg:block w-80 border-r border-gray-200 flex min-h-screen">
        <button class="btn flex items-center gap-2">
            <img src="/home-line.svg" class="w-5 h-5" />
            Home
    </button>
    <div class="bg-base-100 shadow-md rounded-lg p-4 flex flex-col gap-4">
        <h2 class="text-lg font-semibold  text-gray-500">TRENDING</h2>
        <ul class="flex flex-col gap-2 text-gray-200">
            @for (subreddit of subreddits; track $index) {
            <li> r/{{ subreddit.name }}</li>
            }
        </ul>
    </div>
</div>