<div class="form-container flex flex-col justify-center items-center min-h-screen">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col mt-4 gap-2 w-80">

    @if (successMessage) {
      <div class="alert alert-success">{{ successMessage }}</div>
    }

    <h1 class="text-xl font-bold text-center">Register</h1>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Username</legend>
      <input type="text"
        class="input input-sm w-full"
        [class.input-error]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
        formControlName="username" />
      @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
        <p class="text-error text-xs mt-1">Username is required.</p>
      }
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Email</legend>
      <input type="email"
        class="input input-sm w-full"
        [class.input-error]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        placeholder="example@gmail.com"
        formControlName="email" />
      @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
        <p class="text-error text-xs mt-1">Email is required.</p>
      }
      @if (registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched) {
        <p class="text-error text-xs mt-1">Please enter a valid email.</p>
      }
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Password</legend>
      <input type="password"
        class="input input-sm w-full"
        [class.input-error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        formControlName="password" />
      @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched) {
        <p class="text-error text-xs mt-1">Password is required.</p>
      }
      @if (registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched) {
        <p class="text-error text-xs mt-1">Password must be at least 6 characters.</p>
      }
    </fieldset>

    <button class="btn btn-primary btn-sm">Register</button>

    @if (errorMessage) {
      <p class="text-error text-sm text-center mt-1">{{ errorMessage }}</p>
    }

  </form>
</div>