<div class="min-h-screen flex justify-center py-16">
  <div class="flex flex-col w-80 h-fit">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
      <h1 class="text-xl font-bold text-center">Login</h1>

      @if (successMessage) {
        <div class="alert alert-success">{{ successMessage }}</div>
      }

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Username</legend>
        <input type="text" class="input input-sm w-full"
          [class.input-error]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
          formControlName="username" />
        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
          <p class="text-error text-xs mt-1">Username is required.</p>
        }
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <input type="password" class="input input-sm w-full"
          [class.input-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          formControlName="password" />
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <p class="text-error text-xs mt-1">Password is required.</p>
        }
      </fieldset>

      <button type="submit" class="btn btn-primary btn-sm">Login</button>

      @if (errorMessage) {
        <p class="text-error text-sm text-center mt-1">{{ errorMessage }}</p>
      }
    </form>

    <p class="text-xs text-center text-gray-500 mt-2">
      Don't have an account?
      <a routerLink="/register" class="text-primary hover:underline font-semibold cursor-pointer">
        Register here
      </a>
    </p>
  </div>
</div>